
<div class="page-topbar">
  <h2 class="page-header">Karnety</h2>

  <a href="../karnety/add" class="header-button">
    <button class="btn btn-default">Add new</button>
  </a>
</div>

{{#if msg}}
<div class="alert alert-success">
  {{msg}}
</div>
  {{/if}}



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Kwota</th>
      <th scope="col">Data Rozpoczęcia</th>
      <th scope="col">Data Zakończenia</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#if cards}}
          {{#each cards}}
          <tr>
            <td>{{amount}}</td>
            <td>{{start}}</td>
            <td>{{end}}</td>
            <td>{{status}}</td>
            <td>
              <a href="/admin/subcards{{actionLink}}">
              {{actionMsg}}</a>
              <a href="/admin/subcards{{removeLink}}">
              {{removeMsg}}</a>
            </td>
          </tr>
          {{/each}}
    {{/if}}


  </tbody>
</table>
