<!DOCTYPE html>
<html>
<head>
	<title>Welcoome to Gym Manager</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 mdl-layout__header">
					<header class="row custom-header">
							<div class="col-md-8 mdl-layout-title logo">
								Gym Manager
							</div>
							{{#if user}}

								{{else}}
								 	{{> login}}
							{{/if}}
						
				  </header>
			</div>
		</div>

			<div class="row">
				{{#if user}}

					{{else}}
						{{> register}}

						<div class="col-md-5 news">
							{{> home }}
							{{> home }}
							{{> home}}
						</div>
				{{/if}}


			</div>

		</div>


				<div class="col-md-10">
					<div class="row">
						<div class="col-lg-10 topbar">
							{{#if success_msg}}
								<div class="alert alert-success">{{success_msg}}</div>
							{{/if}}

							{{#if error_msg}}
								<div class="alert alert-danger">{{error_msg}}</div>
							{{/if}}

							{{#if error}}
								<div class="alert alert-danger">{{error}}</div>
							{{/if}}

							<div class="profile">

							</div>
					</div>

					</div>

					<footer class="footer">

					</footer>
				</div>
		</div>






    </div> <!-- /container -->
</body>
</html>
