<div class="col-md-12">
  <h3 class="page-header">Karnety</h3>
</div>

<section class="col-md-12">
<div class="page-topbar">
</div>
<div class="home-card mdl-card mdl-shadow--2dp">
  <div class="row">
    <div class="col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Kwota</th>
      <th scope="col">Data Rozpoczęcia</th>
      <th scope="col">Data Zakończenia</th>
      <th scope="col">Status</th>
      <th scope="col">Silownia</th>
    </tr>
  </thead>
  <tbody>

    {{#if karnety}}
          {{#each karnety}}
          <tr>
            <td>{{amount}}</td>
            <td>{{start}}</td>
            <td>{{end}}</td>
            <td>{{status}}</td>
            <td><a href="../gym/{{gymId._id}}">{{gymId.name}}</a></td>
          </tr>
          {{/each}}
    {{/if}}


  </tbody>
</table>
</div>
</div>
</div>
</section>
